body {
    background-color: black;
    text-align: center;
}
.header-main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.header-secondary{
    color: white;
    font-weight: 300;
    font-size: 42px;
}

h4{
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 21px;
color: gray;
}
.link {
    color: aquamarine; 
    font-size: 16px;
}
.©{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    text-align: right;
}